
h1{
    font-size: 32px;
}

div.container{
    width: 100%;
    background-color: white;
}

body{
    font-size:  26px;
    background-color: white;
}

header{
    padding: 1em;
    color: white;
    background-color: red;
    clear: left;
    text-align: left;
}

footer{
    padding: 1em;
    color: white;
    background-color: red;
    clear: left;
    text-align: center;
    position: relative;
    top: 100%;
}
nav{

}

article {
    margin-left: 0px;
    padding: 1em;
    overflow: hidden;
    background-color: white;
}