/* Main_Functions.css*/

div.container{
    width: 100%;
    border: 1px solid red;
    background: #f9f9f9;
}

body{
    font-size:  10px;
    background-color: white;
}

header{
            padding: 1em;
            background-color: red;
            color: white;
}

footer{
    padding: 1em;
    background-color: red;
    color: white;

}

article {
    margin-left: 0px;
    border-left: 1px solid red;
    padding: 1em;
    overflow: hidden;
    background-color: white;
}