<!DOCTYPE html>
<html lang="en" xmlns:type="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<head>
    <title>ESRM Weather Station Main Site</title>
    <style>
        div.container{
            width: 100%;
            border: 1px solid red;
        }
        header,footer{
            padding: 1em;
            background-color: red;
            color: white;
        }
        nav{
        float: left;
        margin: 0;
        padding: 1em;
        }
    </style>

</head>

<body>
<div class="container">
    <header>
        CSUCI
    </header>
    <H1> Welcome to the ESRM Weather Station Page</H1>
    <br>
    <button type="button">Submit</button>
    <br>
    
    <footer>
        Resources:
        <br>
        <a href="http://www.ventura.org/wcvc/calleguas.htm" target="_blank"> Calleguas Creek </a>
        <br>
        <a href="http://ipm.ucanr.edu/WEATHER/SITES/ventura.html" target="_blank"> Ventura County Stations </a>
    </footer>
</div>
</body>
</html>