{%  load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ESRM Weather Station Main Site</title>
    <link rel="stylesheet" type="text/css" href="{%  static 'css/Main_Functions.css' %}" />
    <link rel="script" href="{%  static 'js/Main_Script.js' %}" />
</head>

<body>
    <div class="container">
        <header>
            CSUCI
        </header>
        <br>
        <article>
            <H1> Welcome to the ESRM Weather Station Page</H1>
            <form>
                <label>Date Range</label><br>
                <input id="dateField" type="date" min="01/01/2009" />
                <input id="dateField" type="date" min="01/01/2009" /><br>
                <input id="updateButton" type="submit" value="update" />
            </form>
            <br>
        </article>


        <footer>
            Resources:
            <br>
            <a href="http://www.ventura.org/wcvc/calleguas.htm" target="_blank"> Calleguas Creek </a>
            <br>
            <a href="http://ipm.ucanr.edu/WEATHER/SITES/ventura.html" target="_blank"> Ventura County Stations </a>
        </footer>
    </div>

</body>
</html>