{%  load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plot</title>
    <link rel="stylesheet" type="text/css" href="{%  static 'css/Main_Functions.css' %}" />
</head>
<body>
    {% autoescape off %}
    {{ plotting }}
    {% endautoescape %}
    <br>
    {% autoescape off %}
    {{ table }}
    {% endautoescape %}
    <br>
    <form id="downloadFromDate" action="downDate" method="POST">{% csrf_token %}
        <input id="startDate" name="startDate" type="hidden" value={{ start }} />
        <input id="endDate" name="endDate" type="hidden" value={{ end }} />
        <input type="submit" value="Download From Date-Range"/>
    </form>
</body>
</html>