<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Readings</title>
</head>
<body>
    <table border="1" cellpadding="5" cellspacing="5">
        {% autoescape off %}
            <tr>
                <td><h3>Time Accessed</h3></td>
                <td><h3>Air Temperature   </h3></td>
                <td><h3>Relative Humidity   </h3></td>
                <td><h3>Rainfall   </h3></td>
            </tr>
            <tr>
                <td>
                   {{ time }}
                </td>
                <td>
                    {{ temp }} C
                </td>
                <td>
                    {{ humidity }}
                </td>
                <td>
                    {{ rainfall }} mm
                </td>
            </tr>
            <tr>
                <td><h3>Battery Voltage   </h3></td>
                <td><h3>Wind Speed   </h3></td>
                <td><h3>Wind Direction   </h3></td>
                <td><h3>Barometric Pressure   </h3></td>
            </tr>
            <tr>
                <td>
                    {{ voltage }} v
                </td>
                <td>
                   {{ windspeed }} m/s
                </td>
                <td>
                    {{ winddirection }}
                </td>
                <td>
                    {{ pressure }} mmHg
                </td>
            </tr>
        {% endautoescape %}
    </table>
</body>
</html>